## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from key import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_database.csv file.
import os
path = os.path.join("../Weather_Database/WeatherPy_Database.csv")
city_data_df = pd.read_csv(path)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,-42.7826,147.0587,66.00,52,75,10.29,broken clouds
1,1,Qaanaaq,GL,77.4840,-69.3632,-0.33,75,100,8.32,overcast clouds
2,2,Port Elizabeth,ZA,-33.9180,25.5701,64.40,93,0,2.24,clear sky
3,3,Tazovskiy,RU,67.4667,78.7000,-14.57,88,69,12.10,broken clouds
4,4,Punta Arenas,CL,-53.1500,-70.9167,55.40,58,99,6.93,overcast clouds

In [27]:
# 2. Prompt the user to enter minimum and maximum temperature criteria.
minimum_temp = float(input("What is the minimum temperature you would like for your trip? "))
maximum_temp = float(input("What is the maximum temperature you would like for your trip? "))
#minimum_temp = 75
#maximum_temp = 90

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
temperature_criteria_df = city_data_df.loc[(city_data_df["Max Temp"] <= maximum_temp) & 
                                       (city_data_df["Max Temp"] >= minimum_temp)]
temperature_criteria_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Hilo,US,19.7297,-155.0900,80.60,61,20,9.17,few clouds
12,12,Belmonte,BR,-15.8631,-38.8828,78.80,74,0,6.93,clear sky
17,17,Vaini,TO,-21.2000,-175.2000,80.60,94,75,9.17,broken clouds
25,25,Labuhan,ID,-6.8844,112.2051,79.30,83,95,5.61,overcast clouds
27,27,Butaritari,KI,3.0707,172.7902,81.93,75,0,19.86,clear sky
28,28,Bida,NG,9.0833,6.0167,77.88,24,0,2.30,clear sky
31,31,Bengkulu,ID,-3.8004,102.2655,79.50,81,61,4.27,broken clouds
36,36,Nelson Bay,AU,-32.7167,152.1500,75.00,83,90,14.99,overcast clouds
40,40,Rikitea,PF,-23.1203,-134.9692,77.41,73,67,12.39,broken clouds
47,47,Mataura,NZ,-46.1927,168.8643,77.58,46,10,2.82,clear sky

In [29]:
# 4a. Determine if there are any empty rows.
temperature_criteria_df.count()

City_ID                155
City                   155
Country                155
Lat                    155
Lng                    155
Max Temp               155
Humidity               155
Cloudiness             155
Wind Speed             155
Current Description    155
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = temperature_criteria_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Hilo,US,19.7297,-155.0900,80.60,61,20,9.17,few clouds
12,12,Belmonte,BR,-15.8631,-38.8828,78.80,74,0,6.93,clear sky
17,17,Vaini,TO,-21.2000,-175.2000,80.60,94,75,9.17,broken clouds
25,25,Labuhan,ID,-6.8844,112.2051,79.30,83,95,5.61,overcast clouds
27,27,Butaritari,KI,3.0707,172.7902,81.93,75,0,19.86,clear sky
28,28,Bida,NG,9.0833,6.0167,77.88,24,0,2.30,clear sky
31,31,Bengkulu,ID,-3.8004,102.2655,79.50,81,61,4.27,broken clouds
36,36,Nelson Bay,AU,-32.7167,152.1500,75.00,83,90,14.99,overcast clouds
40,40,Rikitea,PF,-23.1203,-134.9692,77.41,73,67,12.39,broken clouds
47,47,Mataura,NZ,-46.1927,168.8643,77.58,46,10,2.82,clear sky

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = None
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Hilo,US,80.60,few clouds,19.7297,-155.0900,None
12,Belmonte,BR,78.80,clear sky,-15.8631,-38.8828,None
17,Vaini,TO,80.60,broken clouds,-21.2000,-175.2000,None
25,Labuhan,ID,79.30,overcast clouds,-6.8844,112.2051,None
27,Butaritari,KI,81.93,clear sky,3.0707,172.7902,None
28,Bida,NG,77.88,clear sky,9.0833,6.0167,None
31,Bengkulu,ID,79.50,broken clouds,-3.8004,102.2655,None
36,Nelson Bay,AU,75.00,overcast clouds,-32.7167,152.1500,None
40,Rikitea,PF,77.41,broken clouds,-23.1203,-134.9692,None
47,Mataura,NZ,77.58,clear sky,-46.1927,168.8643,None

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = { "radius": 5000,
           "type": "lodging",
           "key": g_key }

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    latitudes = row["Lat"]
    longitudes = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{latitudes}, {longitudes}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Hilo,US,80.60,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Belmonte,BR,78.80,clear sky,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
17,Vaini,TO,80.60,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
25,Labuhan,ID,79.30,overcast clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
27,Butaritari,KI,81.93,clear sky,3.0707,172.7902,Isles Sunset Lodge

In [37]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
#clean_hotel_df.count()

City                   148
Country                148
Max Temp               148
Current Description    148
Lat                    148
Lng                    148
Hotel Name             148
dtype: int64

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))